body, html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

@mixin flexIt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@import './index.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap');

// GLOBAL FONTS 

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin: 0;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 24px;
  margin: 0;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}

h5 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}

h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

// ------------------

#blockColorblindContent {
  display: none;
}

.page {
  @include flexIt();
  margin: 20px;
  justify-content: space-between;
}

.page_flexbox {
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  min-width: 295px;
  height: auto;
  margin-top: 5em;
}

// about page
.about_img {
  margin-top: 3.5em;
  & > * {
    margin: 10px;
  }
}

#about_img2 {
  @include flexIt();
  align-items: flex-start;
}

.about_text {
  text-align: center;
  font-size: 18px;
  margin: 3em 0px;
}

//  login page
.login_input {
  margin-top: 5em;
  width: 100%;
}

.login_but {
  height: 20vh;
  @include flexIt();
  justify-content: space-between;

  & > div {
    padding-top: 2em;
    @include flexIt();
  }
}

.profile_page {
  margin: 0px;
  display:flex;
  flex-direction: column;
  align-items: center;
}