body, html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

@import './index.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap');

// GLOBAL FONTS 

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin: 0;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 24px;
  margin: 0;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}

h5 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}

h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}